[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "ImGuizmo"]
	path = ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "IconFontCppHeaders"]
	path = IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
