[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "ImGuizmo"]
	path = ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
